// out: css/mobile.css, sourcemap: true, compress: true
ul.menu{
    li{
        display: inline-block;
    }
}
#main-content{
    margin-top:60px;
}

.img-menu{
    height: 60px;
    display: inline-block;
}
