<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c7_IMG_story.jpg)">
                    <!-- <img src="images/c7_IMG_story.jpg" class="img-responsive" />  --> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c7_IMG_grafico.jpg)">
                    <!--<img src="images/c7_IMG_grafico.jpg" class="img-responsive" /> --><!-- imagen de datos--> 
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                <b><br>
                                Marzo 2017<br>
                                Polikastro<br>
                                (Tiempo indefinido)<br>
                                <br></b>
                                Tras un año en el campo de Nea Kavala, Zainab y su familia tienen la posibilidad de ser reubicadas en un piso en Polikastro gestionado por ACNUR, en el noreste continental de Grecia. Salir del campo es una buena noticia, aunque no implica la concesión de asilo, que es lo que están esperando desde hace un año y medio. Con la noticia, los deseos de Zainab se desbocan: ¿se acerca el momento de volver a estar toda la familia junta? La vivienda sigue siendo un lugar que no es su destino. Un lugar donde esperar indefinidamente a que se les conceda el asilo y la reagrupación familiar. Un lugar que no es donde quieren estar. Un no lugar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c7_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Si se ocuparan los 448 pisos que siguen disponibles, manteniendo las 4,5 personas por piso actuales, se alojaría a 2.016 personas más.
                                No se conoce el número de alojamientos disponibles para familias refugiadas. Además de los pisos gestionados por ACNUR, hay otras asociaciones que gestionan viviendas no contabilizadas en las cifras oficiales.
                                Y hay que añadir otros tipos de alojamientos como hostales, hoteles y casas de particulares.
                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-7"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c7_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-7" href="#"> <img src="images/c7_mapa.png" class="mapa img-responsive" />  </a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-7">
    <img src="images/c7_mapa_ACT.jpg" class="img-responsive" />
</div>


<div class="referencias-popover"  id="referencias-page-7">
    <h2> Fuentes relacionadas con los datos:</h2>
        <ul>
            <li><a href="http://himaya.es/es/" target="_blank">ONG Himaya</a>.</li>
            <li>UNHCR Greece (2017). <em><a href="https://data2.unhcr.org/en/documents/details/60058" target="_blank">Weekly Accommodation Update. September 26, 2017</a></em>.</li>
    
        </ul>
    <h3>Bibliografía complementaria consultada:</h3>
        <ul>
            <li>European Asylum Support Office (2017). <a href="https://www.easo.europa.eu/sites/default/files/Annual-Report-2016.pdf" target="_blank">Annual Report on the Situation of Asylum in the European Union 2016</a>. <em>European Union: European Asylum Support Office</em>.</li>
            <li>European Commission (2017, 26 de julio). <a href="https://ec.europa.eu/home-affairs/sites/homeaffairs/files/what-we-do/policies/european-agenda-migration/20170726_factsheet_managing_refugee_crisis_eu_financial_support_greece_en.pdf" target="_blank">Managing the refugee crisis</a>. <em>EU Financial Support to Greece</em>.</li>
            <li>Eurostat (2017). <em><a href="http://ec.europa.eu/eurostat/statistics-explained/index.php/Asylum_quarterly_report" target="_blank">Asylum quarterly report</a></em>.</li>
            <li>Sánchez, Gabriela (2017, 26 de septiembre). <a href="http://www.eldiario.es/desalambre/despues-finalizar-proceso-reubicacion-refugiados_0_690831747.html" target="_blank">¿Qué pasa una vez finalizado el plazo del proceso de reubicación de refugiados?</a>. <em>El diario.es</em>.</li>
            <li>Vargas, Jairo (2017, 26 de septiembre). <a href="http://www.publico.es/sociedad/refugiados-refugiados-fracaso-europa.html" target="_blank">Refugiados, el último fracaso de Europa</a>. <em>Público</em>.</li>
        </ul>
</div>
