<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c2_IMG_story.jpg)">
                    <!--<img src="images/c2_IMG_story.jpg" class="img-responsive" /> -->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c2_IMG_grafico.jpg)">
                    <!-- <img src="images/c2_IMG_grafico.jpg" class="img-responsive" /> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Octubre  2015. El periplo de Zainab y su familia comienza una noche de otoño.
                                Para evitar al ejército y los controles, viajan a pie durante las noches y descansan durante el día en escondites.
                                Zainab y su familia no viajan solas. Miles de personas se desplazan en fila para llegar a Turquía.
                                Tras cuatro días, cruzan la frontera. Justo ahí les espera un coche que, tras un precio acordado, les acercará al mar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c2_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Cuando se inicia el conflicto en 2011, Siria es el tercer país del mundo receptor de personas refugiadas.
                                Cuatro años más tarde, es el principal estado de origen de los refugiados con más de 11,5 millones.
                                Turquía, Líbano y Jordania son las principales vías de salida de sirios en busca de refugio.
                                En 2017, dos de cada tres personas sirias han tenido que abandonar su hogar.
                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-2"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">   <img src="images/c2_ver_story.jpg" class="verstory img-responsive" /> </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-2" href="#"> <img src="images/c2_mapa.png" class="mapa img-responsive" />  </a>
            </div>
        </div>
    </div>
</div>

    <div class="map-popover"  id="map-page-2">
    <img src="images/c2_mapa_ACT.jpg" class="img-responsive" />
    </div>


    <div class="referencias-popover"  id="referencias-page-2">
        <h2>Fuentes relacionadas con los datos:</h2>
            <ul>
                <li> Banco Mundial (2017) <em><a href="https://data.worldbank.org/indicator/SP.POP.TOTL" target="_blank">Datos demográficos. Población total.</a></em><a href="https://data.worldbank.org/indicator/SP.POP.TOTL" target="_blank"></a></li>
                <li>UNHCR (2017) <a href="http://data.unhcr.org/syrianrefugees/country.php?id=122" target="_blank">Syria Regional Refugee Response. Inter-agency Information Sharing Portal.</a></li> 
            </ul>
        
    	<h3>Bibliografía complementaria consultada:</h3>
            <ul>
                <li>Amnistía Internacional (2017, 7 de febrero). <a href="https://www.amnesty.org/en/press-releases/2017/02/syria-investigation-uncovers-governments-secret-campaign-of-mass-hangings-and-extermination-at-saydnaya-prison/" target="_blank"><em>Syria: secret campaign of mass hangings and extermination at saydnaya prison.</em></a></li> 
                <li><a href="http://scpr-syria.org/" target="_blank">Centro Sirio para Investigación Política.</a></li>
                <li><a href="http://www.syriahr.com/en/" target="_blank">Observatorio Sirio de Derechos Humanos.</a></li>
            </ul>
    </div>
