<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c6_IMG_story.jpg" class="img-responsive" /> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c6_IMG_grafico.jpg" class="img-responsive" /> <!-- imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <h2> menu </h2>
                    <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c6_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                </div>
                <div class="menu-data-content" style="display:none">
                    <h2> menu </h2>
                    <div> texto de datos </div>
                    <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c6_ver_story.jpg" class="verstory img-responsive" /> </a>
                </div>

            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-6" href="#"> <img src="images/c6_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-6">
    <img src="images/c6_mapa_ACT.jpg" class="img-responsive" />
</div>
