<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c5_IMG_story.jpg)">
                    <!-- <img src="images/c5_IMG_story.jpg" class="img-responsive" />  --> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c5_IMG_grafico.jpg)">
                    <!-- <img src="images/c5_IMG_grafico.jpg" class="img-responsive" />  imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                <b><br>
                                Noviembre 2015<br>
                                Lesbos > Moria<br>
                                (0 km. Están cuatro meses)<br>
                                <br></b>
                            Zainab y su familia desembarcan en Lesbos.
                            Ellos, junto con las demás personas que llegaron en su bote, se registran en Moria y solicitan asilo.
                            Durante los meses que viven aquí, la familia accede a los recursos que facilita el campamento mientras esperan la resolución de su solicitud.
                            Este campo, comparado con otros, no es acogedor. Es un lugar de llegada y hacinamiento. Tiene capacidad para 1.500 personas y hay más de 3.000.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Grecia vive una llegada exponencial de personas migrantes en 2015, con un aumento de más de 800.000 personas respecto al año anterior.
Las solicitudes de asilo suponen un escaso 2% sobre el millón de personas que han llegado a Grecia desde 2014.
En 2016, 8 de cada 10 solicitudes quedaron pendientes de gestionar.

                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-5"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-5" href="#"> <img src="images/c5_mapa.png" class="mapa img-responsive" />  </a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-5">
    <img src="images/c5_mapa_ACT.jpg" class="img-responsive" />
</div>

<div class="referencias-popover"  id="referencias-page-5">
    <h2> Fuentes relacionadas con los datos:</h2>
        <ul>
            <li>UNHCR (s.f.). <em><a href="http://popstats.unhcr.org/en/asylum_seekers" target="_blank">Population Statistics Database</a></em>.</li>
            <li>UNHCR (2017). <em><a href="http://data2.unhcr.org/en/situations/mediterranean" target="_blank">Operational Data Portal. Refugee Situations</a></em>.</li>
    </ul>

    <h3>Bibliografía complementaria consultada:</h3>
        <ul>
            <li>Domokos, John y Kingsley, Patrick (2015, 21 de noviembre). <a href="https://www.theguardian.com/world/2015/nov/21/chaos-greek-islands-three-tier-refugee-registration-system-syria-lesbos" target="_blank">Chaos on Greek islands as refugee registration system favours Syrians</a>. <em>The Guardian</em>.</li>
            <li>Red SOS Refugiados (s.f.). <a href="https://sosrefugiados.wordpress.com/mapas-utiles/" target="_blank"><em>Mapas útiles de SOS Refugiados</em></a>.</li>
            <li>Refugee Rights - Data Project (2017). <em><a href="http://refugeerights.org.uk/wp-content/uploads/2017/07/RRDP_AnIslandAtBreakingPoint.pdf" target="_blank">An Island at Breaking Point.Filling information gaps relating to refugees and displaced people in Chios, Greece</a></em>.</li>
            <li>Refugee Rights - Data Project (2017). <em><a href="http://refugeerights.org.uk/wp-content/uploads/2017/04/RRDP_SixMonthsOn.pdf" target="_blank">Six months on filling information gaps relating to children and young adults in northern france following the demolition of the calais camps</a></em>.</li>
            <li>Refugee Rights - <a href="http://refugeerights.org.uk/reports/" target="_blank">Data Project (s.f.)</a>.</li>
            <li>Thompson, Stuart A. y Singhvi, Anjali (2017, 14 de junio). <a href="https://www.nytimes.com/interactive/2017/06/14/world/europe/migrant-rescue-efforts-deadly.html" target="_blank">Efforts to Rescue Migrants Caused Deadly, Unexpected Consequences</a>. <em>The New York Times</em>.</li>
            <li>UNHCR (2016, 27 de mayo).  <em><a href="http://www.unhcr.org/news/briefing/2016/5/57480cb89/greece-unhcr-concerned-conditions-new-refugee-sites-urges-alternatives.html" target="_blank">Greece: UNHCR concerned at conditions in new refugee sites and urges that alternatives be found</a></em>.</li>
            <li>UNHCR (2016). <em><a href="https://data2.unhcr.org/ar/documents/download/53447" target="_blank">Refugees & migrants sea arrivals in Europe</a></em>.</li>
            <li>UNHCR (2017). <a href="http://www.unhcr.org/dach/wp-content/uploads/sites/27/2017/04/midyeartrends_2016.pdf" target="_blank"><em>Mid-Year Trends 2016</em></a>.</li>
            <li>UNHCR (2017). <em><a href="http://www.unhcr.gr/sites/June2017/Site_Profiles_June2017.pdf" target="_blank">Sites Profiles June 2017. Site management support</a></em>.</li>
            <li>UNHCR (s.f.). <em><a href="https://explorables.cmucreatelab.org/explorables/annual-refugees/examples/webgl-timemachine/#v=4.56342,0,0.142,latLng&t=1.63&l=bdrk,ar" target="_blank">Global Refugee Flow: 2000-2015</a></em>.</li>
            <li>UNHCR (s.f.). <em><a href="https://data2.unhcr.org/en/documents/download/47786" target="_blank">Greece factsheet 2016</a></em>.</li>
        </ul>
</div>
