<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c3_IMG_story.jpg)">
                    <!--<img src="images/c3_IMG_story.jpg" class="img-responsive" /> -->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c3_IMG_grafico.jpg)">
                    <!-- <img src="images/c3_IMG_grafico.jpg" class="img-responsive" /> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                <b><br>
                                Noviembre 2015<br>
                                Turquía > Izmir<br>
                                (500 km en 6 días)<br>
                                <br></b>
                                Zainab llega a Izmir, donde se dan cita centenares de familias con el objetivo de buscar un hueco en una de las embarcaciones que los llevará a Grecia.
                            Los traficantes de personas exigen a la madre de Zainab entre 500 y 700 euros por una plaza de un único adulto en un bote pequeño. El precio para los niños se reduce a la mitad.
                            Un chaleco salvavidas son otros 100 euros. La madre de Zainab no confía en las personas que hacen del tráfico humano su modo de vida.
                        </div>

                            <a href="#" class="switchMode" class="btn btn-circle"> <img src="images/c3_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>

                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">El 90% de los migrantes que llegan a Europa lo hacen usando redes de tráfico de personas.
                                En muchas ocasiones, los contrabandistas cuentan además con la complicidad de los funcionarios de los controles fronterizos que quieren beneficiarse de un lucrativo negocio que, en 2016, supuso 2.000 millones de euros y en 2015 más del doble: 5.000 millones de euros.
                            </div>

                            <a href="#" class="referencias" id="referencias-page-btn-3"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">
                                <img src="images/c3_ver_story.jpg" class="verstory img-responsive" />
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-3" href="#"> <img src="images/c3_mapa.png" class="mapa img-responsive" />  </a>
            </div>
        </div>
    </div>

    </div>

    <div class="map-popover"  id="map-page-3">
    <img src="images/c3_mapa_ACT.jpg" class="img-responsive" />
    </div>
    <div class="referencias-popover"  id="referencias-page-3">
        <h2> Fuentes relacionadas con los datos:</h2>
        <ul>
            <li>Europol - European Migrant Smuggling Centre (2017). <a href="https://www.europol.europa.eu/publications-documents/emsc-first-year-activity-report" target="_blank"><em>Activity Report. First Year (Jan 2016-Jan 2017)</em></a>.</li>
            <li>Europol – Interpol (2016). <a href="https://www.europol.europa.eu/sites/default/files/publications/ep-ip_report_executive_summary.pdf" target="_blank"><em>Migrant Smuggling Networks. Joint Europol – INTERPOL Report</em></a>.</li>
        </ul>
    </div>
