<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c1_IMG_story.jpg" class="img-responsive" /> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c1_IMG_grafico.jpg" class="img-responsive" /> <!-- imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                        <h2> menu </h2>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                        <a href="#" class="switchMode" class="btn btn-circle">   <img src="images/c1_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                </div>
            </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <h2> Menu </h2>
                            <div> texto de datos </div>
                            <a href="#" class="switchMode" class="btn btn-circle">
                                <img src="images/c1_ver_story.jpg" class="verstory img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="extra-btn-container">
                <a class="" id="map-btn-page-1" href="#"> <img src="images/c1_mapa.png" class="mapa img-responsive" />  <a>
            </div>

        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-1">
    <img src="images/c1_mapa_ACT.jpg" class="img-responsive" />
</div>
