<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c5_IMG_story.jpg)">
                    <!-- <img src="images/c5_IMG_story.jpg" class="img-responsive" />  --> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c5_IMG_grafico.jpg)">
                    <!-- <img src="images/c5_IMG_grafico.jpg" class="img-responsive" />  imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                            Noviembre 2015. Zainab y su familia desembarcan en Lesbos.
                            Ellos, junto con las demás personas que llegaron en su bote, se registran en Moria y solicitan asilo.
                            Durante los meses que viven aquí, la familia accede a los recursos que facilita el campamento mientras esperan la resolución de su solicitud.
                            Este campo, comparado con otros, no es acogedor. Es un lugar de llegada y hacinamiento. Tiene capacidad para 1.500 personas y hay más de 3.000.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Grecia vive una llegada exponencial de personas migrantes en 2015, con un aumento de más de 800.000 personas respecto al año anterior.
Las solicitudes de asilo suponen un escaso 2% sobre el millón de personas que han llegado a Grecia desde 2014.
En 2016, 8 de cada 10 solicitudes quedaron pendientes de gestionar.

                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-5"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-5" href="#"> <img src="images/c5_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-5">
    <img src="images/c5_mapa_ACT.jpg" class="img-responsive" />
</div>

<div class="referencias-popover"  id="referencias-page-5">
    <h2> Fuentes relacionadas con las gráficas y datos:</h2>
<!-- METER BIBLIO AQUI -->
</div>
