<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c1_IMG_story.png" class="img-responsive" />
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/data.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <h2> menu </h2>
                <a href="#" class="switchMode">  VER DATOS </a>

            </div>
        </div>
    </div>
    <div class="extra-btn-container">
        <a class="btn btn-primary btn-circle" id="map-btn-page-1"> ver mapa <a>
    </div>
</div>

<div class="map-popover"  id="map-page-1">
    <img src="images/c1_mapa_ACT.png" class="img-responsive" />
</div>
