<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c3_IMG_story.jpg" class="img-responsive" />
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c3_IMG_grafico.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Noviembre 2015. La última etapa turca finaliza con la llegada de Zainab a Esmirna, ciudad costera donde se dan cita centenares de familias con el objetivo de buscar un hueco en una de las embarcaciones que los llevará a Grecia.
                            Los traficantes de personas exigen a la madre de Zainab entre 500 y 700 euros por una plaza de un único adulto en un bote pequeño. El precio para los niños se reduce a la mitad.
                            En ningún caso se les provee de chaquelo salvavidas, a no ser que abonen otros 100 euros por persona. La transacción económica se cierra, a pesar de que la madre de Zainab no confía en las garantías que le dan personas que hacen del tráfico humano su modo de vida.
                        </div>
                            <a href="#" class="switchMode" class="btn btn-circle"> <img src="images/c3_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>

                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">El 90% de los migrantes que llegan a Europa lo hacen usando redes de tráfico de personas.
                                En muchas ocasiones, los contrabandistas cuentan además con la complicidad de los funcionarios de los controles fronterizos que quieren beneficiarse de un lucrativo negocio que, en 2016, suposo 2.000 millones de euros.  </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c3_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-3" href="#"> <img src="images/c3_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

    </div>

    <div class="map-popover"  id="map-page-3">
    <img src="images/c3_mapa_ACT.jpg" class="img-responsive" />
    </div>
