<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c4_IMG_story.jpg)">
                    <!-- <img src="images/c4_IMG_story.jpg" class="img-responsive" />-->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c4_IMG_grafico.jpg)">
                     <!-- <img src="images/c4_IMG_grafico.jpg" class="img-responsive" /> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Noviembre 2015. El Mediterráneo, el mar del que siempre ha oído hablar Zainab y que ahora se convierte en temible tras ver que la embarcación segura que le prometieron a su madre es en realidad una lancha de goma. Las 54 personas que quieren surcar la travesía hasta Grecia se suben a un bote que tiene capacidad para 30. El mar está bravío, y aunque sólo 200 kilómetros separan Turquía de Grecia, el viaje se hace eterno.
Tras cuatro horas de constante sufrimiento, nuestra protagonista llega a la isla de Lesbos. Pisar de nuevo tierra firme parece un sueño.
Son recibidos por voluntarios y trasladados al campo de Moria.
Su periplo está lejos de terminar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c4_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Cerca de un millón de personas han llegado a Europa por las rutas migratorias del Mediterráneo desde 2015, aunque la Europol ha advertido de la existencia de otro tipo de desapariciones: 10.000 menores refugiados no acompañados podrían haber caído en redes criminales y de trata de personas.
                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-4"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c4_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-4" href="#"> <img src="images/c4_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

    </div>

    <div class="map-popover"  id="map-page-4">
    <img src="images/c4_mapa_ACT.jpg" class="img-responsive" />
    </div>

    <div class="referencias-popover"  id="referencias-page-4">
        <h2> Fuentes relacionadas con las gráficas y datos:</h2>
    <!-- METER BIBLIO AQUI -->
    </div>
