<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content" style="background-image: url(images/c4_IMG_story.jpg)">
                    <!-- <img src="images/c4_IMG_story.jpg" class="img-responsive" />-->
                </div>
                <div class="data-content" style="display:none; background-image: url(images/c4_IMG_grafico.jpg)">
                     <!-- <img src="images/c4_IMG_grafico.jpg" class="img-responsive" /> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Noviembre 2015. El Mediterráneo, el mar del que siempre ha oído hablar Zainab y que ahora se convierte en temible tras ver que la embarcación segura que le prometieron a su madre es en realidad una lancha de goma. Las 54 personas que quieren surcar la travesía hasta Grecia se suben a un bote que tiene capacidad para 30. El mar está bravío, y aunque sólo 200 kilómetros separan Turquía de Grecia, el viaje se hace eterno.
Tras cuatro horas de constante sufrimiento, nuestra protagonista llega a la isla de Lesbos. Pisar de nuevo tierra firme parece un sueño.
Son recibidos por voluntarios y trasladados al campo de Moria.
Su periplo está lejos de terminar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c4_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Cerca de un millón de personas han llegado a Europa por las rutas migratorias del Mediterráneo desde 2015, aunque la Europol ha advertido de la existencia de otro tipo de desapariciones: 10.000 menores refugiados no acompañados podrían haber caído en redes criminales y de trata de personas.
                            </div>
                            <a href="#" class="referencias" id="referencias-page-btn-4"> Referencias bibliográficas </a>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c4_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-4" href="#"> <img src="images/c4_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

    </div>

    <div class="map-popover"  id="map-page-4">
    <img src="images/c4_mapa_ACT.jpg" class="img-responsive" />
    </div>

    <div class="referencias-popover"  id="referencias-page-4">
        <h2> Fuentes relacionadas con las gráficas y datos:</h2>
            <ul>
                <li>International Organization for Migration – IOM’S Global Migration Data Analysis Centre GMDAC (2017). <a href="https://missingmigrants.iom.int/region/mediterranean" target="_blank"><em>Missing migrants: Tracking deaths along migratory routes.</em></a></li>
                <li>International Organization for Migration (2015, 2016m 2017). <a href="http://migration.iom.int/docs/MMP/170919_Mediterranean_Update.pdf" target="_blank"><em>Mediterranean Update. Migration Flows Europe: Arrivals and Fatalities.</em></a></li>
                <li>Sigona, Nando y Humphris, Rachel (2017, 23 de enero). <em><a href="https://www.law.ox.ac.uk/research-subject-groups/centre-criminology/centreborder-criminologies/blog/2017/01/child-mobility-eu" target="_blank">Child Mobility in the EU’s Refugee Crisis: What Are The Data Gaps And Why Do They Matter? Border Criminologies.</a></em></li>
                <li>Townsend, Mark (2016, 20 de enero). <a href="https://www.theguardian.com/world/2016/jan/30/fears-for-missing-child-refugees" target="_blank">10,000 refugee children are missing, says Europol</a>. <em>The Observer. The Guardian.</em></li>
                <li>Vidal, Mario (2017, 2 de julio). <a href="http://www.vozpopuli.com/altavoz/cronicas/mena-caos-burocratico-mafias-ponen-riesgo-menores-desaparecidos-europa_0_1037597552.html" target="_blank">El caos burocrático y las mafias ponen en riesgo a más de 10.000 menores desaparecidos en Europa.</a> <em>Vózpopuli</em>.</li>
            </ul>
        <h3>Bibliografía complementaria consultada:</h3>
            <ul>
                <li>International Organization for Migration - IOM’s Global Migration Data Analysis Centre GMDAC (2017).<em><a href="https://publications.iom.int/books/fatal-journeys-volume-3-part-1-improving-data-missing-migrants" target="_blank"> Fatal Journeys. Volume 3. Part 1. Improving Data on Missing Migrants.</a></em> Geneva: International Organization for Migration.</li>
                <li>IOM’s Global Migration Data Analysis Centre GMDAC (2017). <a href="https://missingmigrants.iom.int/sites/default/files/C%20Med%20fatalities%20briefing%20July%202017.pdf" target="_blank"><em>The Central Mediterranean route: Migrant fatalities.</em></a></li>
                <li>Kingsley, Patrick (2015, 15 de junio). <a href="https://www.theguardian.com/world/ng-interactive/2015/jun/09/a-migrants-journey-from-syria-to-sweden-interactive" target="_blank">The Journey: A refugee's odyssey from Syria to Sweden.</a><em> The Guardian</em>.</li>
                <li>Kingsley, Patrick (2015, 22 de diciembre). <a href="https://www.theguardian.com/world/2015/dec/22/lesvos-humanitarian-operations-compassion-refugees-continue-to-arrive-by-sea" target="_blank">Lesbos is swept by wave of compassion as refugees continue to arrive by sea. </a>The Guardian.</li>
                <li>Missing Children Europe (s.f.). Figures and trends 2016. <em><a href="http://missingchildreneurope.eu/Portals/0/Docs/Annual%20and%20Data%20reports/Missing%20Children%20Europe%20figures%20and%20trends%202016.pdf" target="_blank">From hotlines for missing children and cross-border family mediators</a></em>.</li>
                <li>UNHCR (2017). <a href="https://data2.unhcr.org/en/documents/download/58838" target="_blank"><em>Desperate Journeys. Refugees and migrants entering and crossing Europe via the Mediterranean and Western Balkans routes.</em></a><em></em></li>
            </ul>
    </div>
