<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c2_IMG_story.jpg" class="img-responsive" />
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c2_IMG_grafico.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <h2> menu </h2>
                    <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c2_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                </div>
                <div class="menu-data-content" style="display:none">
                    <h2> menu </h2>
                    <div> texto de datos </div>
                    <a href="#" class="switchMode" class="btn btn-circle">   <img src="images/c2_ver_story.jpg" class="verstory img-responsive" /> </a>
                </div>
            </div>

        </div>
    </div>
    <div class="extra-btn-container">
        <a class="btn btn-primary btn-circle" id="map-btn-page-2"> ver mapa <a>
    </div>
    </div>

    <div class="map-popover"  id="map-page-2">
    <img src="images/c2_mapa_ACT.jpg" class="img-responsive" />
    </div>
