<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="story-content">
                <img src="images/medialab.jpg" class="img-responsive" />
            </div>

            <div class="data-content" style="display:none">
                <img src="images/data.png" class="img-responsive" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <h2> menu pagina 3 </h2>
            </div>

        </div>
    </div>
    <div class="extra-btn-container">
        <a class="btn btn-primary btn-circle" id="map-btn-page-3"> ver datos <a>
    </div>
    </div>

    <div class="map-popover"  id="map-page-3">
    <img src="images/c1_mapa_ACT.png" class="img-responsive" />
    </div>
