<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c5_IMG_story.jpg" class="img-responsive" /> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c5_IMG_grafico.jpg" class="img-responsive" /> <!-- imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <h2> menu </h2>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <h2> menu </h2>
                            <div> texto de datos </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c5_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-5" href="#"> <img src="images/c5_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-5">
    <img src="images/c5_mapa_ACT.jpg" class="img-responsive" />
</div>
