<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c2_IMG_story.jpg" class="img-responsive" />
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c2_IMG_grafico.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Octubre  2015. El periplo de Zainab y su familia comienza una noche de otoño.
                                Para evitar al ejército y los controles, viajan a pie durante las noches y descansan durante el día en escondites.
                                Zainab y su familia no viajan solas. Miles de personas se desplazan en fila para llegar a Turquía.
                                Tras cuatro días, cruzan la frontera. Justo ahí les espera un coche que, tras un precio acordado, les acercará al mar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c2_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Cuando se inicia el conflicto en 2011, Siria es el tercer país del mundo receptor de personas refugiadas.
                                Cuatro años más tarde, es el principal estado de origen de los refugiados con más de 11, 5 millones.
                                Líbano, Jordania y Turquía son las principales vías de salida de sirios en busca de refugio.
                                En 2017, dos de cada tres personas sirias han tenido que abandonar su hogar.
                            </div>

                            <a href="#" class="switchMode" class="btn btn-circle">   <img src="images/c2_ver_story.jpg" class="verstory img-responsive" /> </a>
                    </div>
                </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-2" href="#"> <img src="images/c2_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>
</div>

    <div class="map-popover"  id="map-page-2">
    <img src="images/c2_mapa_ACT.jpg" class="img-responsive" />
    </div>
