<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 section-left">
            <div class="section-inner-content">
                <div class="story-content">
                    <img src="images/c7_IMG_story.jpg" class="img-responsive" /> <!-- imagen de historia-->
                </div>
                <div class="data-content" style="display:none">
                    <img src="images/c7_IMG_grafico.jpg" class="img-responsive" /> <!-- imagen de datos-->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="menu-content">
                <!-- METER CONTENIDO DEL PANEL DERECHO AQUÍ -->
                <div class="menu-story-content">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-story-inner">
                                Marzo 2017. Tras un año en el campo de Nea Kavala, Zainab y su familia tienen la posibilidad de ser reubicadas en un piso en Polikastro gestionado por ACNUR, en el noreste continental de Grecia. Salir del campo es una buena noticia, aunque no implica la concesión de asilo, que es lo que están esperando desde hace un año y medio. Con la noticia, los deseos de Zainab se desbocan: ¿se acerca el momento de volver a estar toda la familia junta? La vivienda sigue siendo un lugar que no es su destino, un lugar donde esperar indefinidamente a que se les conceda el asilo y la reagrupación familiar, un lugar que no es donde quieren estar. Un no lugar.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c7_ver_grafico.jpg" class="vergrafico img-responsive" /> </a>
                        </div>
                    </div>
                </div>
                <div class="menu-data-content" style="display:none">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xl-7 col-xl-offset-1">
                            <div class="menu-data-inner">
                                Si se ocuparan los 448 pisos que siguen disponibles, manteniendo las 4,5 personas por piso actuales, se alojaría a 2.016 personas más.
                                No se conoce el número de alojamientos disponibles para familias refugiadas. Además de los pisos gestionados por ACNUR, hay otras asociaciones que gestionan viviendas no contabilizadas en las cifras oficiales.
                                Y hay que añadir otros tipos de alojamientos como hostales, hoteles y casas de particulares.
                            </div>
                            <a href="#" class="switchMode" class="btn btn-circle">  <img src="images/c7_ver_story.jpg" class="verstory img-responsive" /> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra-btn-container">
                <a class="" id="map-btn-page-7" href="#"> <img src="images/c7_mapa.png" class="mapa img-responsive" />  <a>
            </div>
        </div>
    </div>

</div>

<div class="map-popover"  id="map-page-7">
    <img src="images/c7_mapa_ACT.jpg" class="img-responsive" />
</div>
