<div class="container-fluid" style="background:url(images/c0_portada.jpg); background-color:white; background-position: center; background-repeat: no-repeat; background-size: contain; width:100%; height:100%">
<div class="row">
<div id="portada" >
<!--    <img src="images/c0_portada.jpg" class="img-responsive" style="z-index:1000"/> -->
    <div style="position:absolute; right:90px; bottom:10px;">
        <a href="#" class="referencias" id="referencias-page-btn-0"> Créditos </a>
    </div>
</div>
</div>

</div>


<div class="referencias-popover"  id="referencias-page-0">
    <h2> Equipo </h2>
    TBD agradecimientos y equipo
</div>
