<div class="container-fluid nopadding" id="cover-mvl">
    <div id="main-content">
        <div id="story">
            <img src="images/c0_portada_mob_cortada.jpg" class="img-responsive"/>
        </div>
            <div clas="row" id="cover-btn" >
                Empezar<br/>
                 <a class="next move-link" style="float:none; font-size:2em;" href="#"><span class="circle glyphicon glyphicon-chevron-right">  </span></a>
            </div>
        <div clas="row" id="cover-creditos" >
            Equipo: <b> Amanda Figueras I Aránzazu Cruz I Camino Prieto I Ferrán Morales
Ignasi Alcalde I Mª Carmen Peñaranda I María Luisa Ocaña</b>
<br/>
Web: <b>Sergio Galán </b>
Ilustraciones: <b>Victor Valles </b>
        </div>
        <div id="cover-social" >
            Compártelo:
            <ul class="share-buttons">
              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fhistoriadezainab.org%2F&t=La%20historia%20de%20Zainab" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="images/c0_portada_facebook.png" /></a></li>
              <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fhistoriadezainab.org%2F&text=La%20historia%20de%20Zainab:%20http%3A%2F%2Fhistoriadezainab.org%2F" target="_blank" title="Tweet"><img alt="Tweet" src="images/c0_portada_twitter.png" /></a></li>
              <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fhistoriadezainab.org%2F&title=La%20historia%20de%20Zainab&summary=Este%20c%C3%B3mic%20quiere%20visibilizar%20el%20%C3%A9xodo%20de%20Zainab%20y%20su%20familia%20que%2C%20como%20otros%2011%20millones%20de%20personas%2C%20se%20han%20visto%20obligadas%20a%20abandonar%20su%20hogar%20desde%20que%20en%202011%20comenz%C3%B3%20la%20guerra%20en%20Siria.&source=http%3A%2F%2Fhistoriadezainab.org%2F" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="images/c0_portada_linkedit.png" /></a></li>
            </ul>
        </div>
        <div id="cover-footer" >
                <div class="col-xs-4 " style="padding:5px">
                    <img src="images/c0_portada_porcausa.png" class="img-responsive"/>
                </div>
                <div class="col-xs-4 " style="padding:5px">
                    <img src="images/c0_portada_medialab.png" class="img-responsive"/>
                </div>
                <div class="col-xs-4 " style="padding:5px">
                    <div style="font-size:8px; line-height:12px; vertical-align:center;">
                    Creative commons. </br> Medialab-prado 2017</div>

                </div>
        </div>
        <div clas="row" >
            <div class="col-xs-12" id="cover-agradecimientos" >
                <h4>Agradecimientos:</h4>
                A Elena Cabrera y Héctor Millano de PorCausa por aportar información de tremendo
                valor y ayudarnos a creer que La Historia de Zainab valía la pena ser contada.
                A Sergio Galán haciendo que la web historiadezainab.org sea una realidad.
                Y además, Hannah Williams, Alejandro Zapala, Samuel Granados, Beatriz Martínez,
                 Pablo Martín, JesúsDa, y todo el equipo de Visualizar'17 que nos dieron una fuerza
                imprescindible para emprender este viaje.
        </div>
    </div>
    </div>
</div>
